@model Courses.ViewModels.NewCourseViewModel
@{
    ViewBag.Title = "Course";
}

<h2>New Course</h2>
@using (Html.BeginForm("CreateNewCourse", "Courses"))
{
<div class="form-group">
    @Html.LabelFor(m => m.Course.CourseName)
    @Html.TextBoxFor(m => m.Course.CourseName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Course.CourseName)
</div>

<div class="form-group">
@Html.LabelFor(m => m.Course.DepartmentId)
@Html.DropDownListFor(m => m.Course.DepartmentId, new SelectList(Model.departments, "DepartmentId", "DepartmentName"),"Select Department", new { @class = "form-control" })
@Html.ValidationMessageFor(m => m.Course.DepartmentId)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Course.Credits)
    @Html.TextBoxFor(m => m.Course.Credits, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Course.Credits)
</div>
<button type="submit" class="btn btn-primary">Add Course</button>
}