@model Courses.ViewModels.NewStudentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add New Student</h2>
@using (Html.BeginForm("CreateNewStudent", "Students"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Student.FirstName)
        @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Student.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.LastName)
        @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Student.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Student.DateOfBirth)
        @Html.TextBoxFor(m => m.Student.DateOfBirth, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Student.DateOfBirth)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Student.AdmissionCodeId)
        @Html.DropDownListFor(m => m.Student.AdmissionCodeId, new SelectList(Model.admissionTermCodes, "Term", "Term"), "Select Term", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Student.AdmissionCodeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Student.MajorId)
        @Html.DropDownListFor(m => m.Student.MajorId, new SelectList(Model.majors, "MajorId", "Name"), "Select Major", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Student.MajorId)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}


